@import "tailwindcss";

@theme {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Karla", sans-serif;
  --color-primary: #f97316;
}

@layer {
  .active-tab{
    background-color: var(--color-primary);
    color: white;
  }
}